*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--c-text);
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1:not(:first-child) {
	margin-top: 3em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

ul, ol, p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a {
  color: var(--c-action);
}

:focus {
  outline: 1px solid var(--c-focus);
}

input[type="text"] {
  font: inherit;
  color: inherit;
  background-color: #fff;
}

button {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  color: currentColor;
  background-color: #fff;
  font: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
