.logo {
  display: flex;
  align-items: center;
  color: var(--c-text);
  text-decoration: none;
}

.logo .icon {
  width: var(--logo-size);
  height: var(--logo-size);
}

.logo h1 {
  margin-top: 0;
  margin-left: var(--spacing);
  margin-bottom: 0;
  font-size: 2.5em;
}
