.content.info code {
  color: darkolivegreen;
}
.content.info code.request {
  display: block;
  border: 1px solid var(--c-grey-dark);
  padding: 5px;
  background-color: var(--c-grey-light);
}
.content.info code.parameter {
  display: block;
  margin-top: var(--spacing);
}
.content.info code.parameter.required:after {
  content: "required";
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 1em;
  color: var(--c-grey-dark);
}
.content.info .examples::before {
  content: "Examples:"
}
.content.info .examples * {
  margin-left: calc(2 * var(--spacing));
}
.content.info pre.response {
  color: darkolivegreen;
  background-color: var(--c-grey-light);
  padding: var(--spacing);
}
